.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createBug {
  margin-left: 150px;
  margin-top: 80px;
  height: 80%;
  width: 80%;
}

.space {
  margin: 100px;
}
